// Variables
$primary-color: #fff;
$secondary-color: #666565;
$bg-color: #020202;
$txt-color: #ff0000;
$secondary-txt-color: #f0f0f0;
$overlay-color: rgba(0, 0, 0, 0.6);
$website-width: 1280px;
$bg-img: url('../img/showcase.jpg');